#app{
    background-color: #edeff2;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--el-border-color-darker);
    border-radius: 20px;
  }

.card{
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
    border: 1px solid #dcdfe6;
    background-color: #fff;
}

.flex_cc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_cc_c{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}


